frontends/public/build/
frontends/public/background.js
frontends/node_modules
frontends/public/content.js
frontends/dist
frontends/desktop/index.css
frontends/desktop/index.js
frontends/desktop/index.js.map
frontends/mobile/index.css
frontends/mobile/index.js
frontends/mobile/index.js.map
.DS_Store
*.map
/target
wasm/pkg
