frontends/public/build/
frontends/public/background.js
frontends/node_modules
frontends/public/content.js
frontends/dist
frontends/desktop
frontends/mobile/index.css
frontends/src/mobile/mobile
frontends/mobile/index.js
frontends/mobile/index.js.map
frontends/desktop/assets/*
.DS_Store
*.map
/target
wasm/pkg
