@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thin::-webkit-scrollbar {
  width: 4px; /* width of the scrollbar */
  height: 130px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent; /* color of the track */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #161B22; /* color of the thumb */
  border-radius: 4px; /* roundness of the scrollbar thumb */
}

.active.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #21262D; /* color of the thumb */
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #21262D; /* color of the thumb on hover */
}


.scrollbar::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}

@layer base {

  html {
    @apply text-base; 
  }
  
  @media (min-width: 1536px) { 
    html {
      @apply text-base;
    }
  }
  @media (min-width: 1920px) { 
    html {
      @apply text-base;
    }
  }
  @media (min-width: 2560px) { 
    html {
      @apply text-lg;
    }
  }
  @media (min-width: 3840px) { 
    html {
      @apply text-lg;
    }
  }
}